.Button__root__cfeur {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #232320;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
  border-width: 0px;
}
.Button__root__cfeur > .__wab_flex-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.Button__root__cfeur > .__wab_flex-container > *,
.Button__root__cfeur > .__wab_flex-container > .__wab_slot > *,
.Button__root__cfeur > .__wab_flex-container > picture > img,
.Button__root__cfeur > .__wab_flex-container > .__wab_slot > picture > img {
  margin-left: 8px;
}
.Button__rootshowStartIcon__cfeurk1P8J {
  padding-left: 16px;
}
.Button__rootcolor_green__cfeurIzMcw {
  background: #30a46c;
}
.Button__rootcolor_yellow__cfeurOSBf {
  background: #f5d90a;
}
.Button__rootcolor_red__cfeur8LXlh {
  background: #e54d2e;
}
.Button__rootcolor_sand__cfeurTwE1Z {
  background: #717069;
}
.Button__rootcolor_white__cfeurUdq2X {
  background: #ffffff;
}
.Button__rootcolor_softBlue__cfeur1YdV {
  background: #edf6ff;
}
.Button__rootcolor_softGreen__cfeurz3JbZ {
  background: #e9f9ee;
}
.Button__rootcolor_softYellow__cfeurysL0I {
  background: #fffbd1;
}
.Button__rootcolor_softRed__cfeurrwUCk {
  background: #fff0ee;
}
.Button__rootcolor_softSand__cfeurSMzJe {
  background: #eeeeec;
}
.Button__rootshowEndIcon__cfeurjaFwO {
  padding-right: 16px;
}
.Button__rootcolor_clear__cfeurk2KFk {
  background: #ffffff00;
}
.Button__rootcolor_link__cfeur6Ywds {
  background: #ffffff00;
}
.Button__rootisDisabled__cfeurb5DHr {
  cursor: not-allowed;
  opacity: 0.6;
}
.Button__rootshape_rounded__cfeurb4CfG {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.Button__rootshape_round__cfeurbKen {
  border-radius: 50%;
  padding: 12px;
}
.Button__rootshape_sharp__cfeurKuTrl {
  border-radius: 0px;
}
.Button__rootsize_compact__cfeurHQhD {
  padding: 6px 16px;
}
.Button__rootsize_minimal__cfeurDuPj {
  padding: 0px;
}
.Button__rootcolor_blue__cfeurNhNkV {
  background: #0091ff;
}
.Button__rootsize_compact_shape_round__cfeurHQhDBKen {
  padding: 6px;
}
.Button__rootshape_rounded_showStartIcon__cfeurb4CfGK1P8J {
  padding-left: 16px;
}
.Button__rootshape_rounded_showEndIcon__cfeurb4CfGJaFwO {
  padding-right: 16px;
}
.Button__root__cfeur:hover {
  background: #282826;
}
.Button__rootcolor_green__cfeurIzMcw:hover {
  background: #3cb179;
}
.Button__rootcolor_yellow__cfeurOSBf:hover {
  background: #ffef5c;
}
.Button__rootcolor_red__cfeur8LXlh:hover {
  background: #ec5e41;
}
.Button__rootcolor_sand__cfeurTwE1Z:hover {
  background: #7f7e77;
}
.Button__rootcolor_white__cfeurUdq2X:hover {
  background: #ffef5c;
}
.Button__rootcolor_softBlue__cfeur1YdV:hover {
  background: #e1f0ff;
}
.Button__rootcolor_softGreen__cfeurz3JbZ:hover {
  background: #ddf3e4;
}
.Button__rootcolor_softYellow__cfeurysL0I:hover {
  background: #fff8bb;
}
.Button__rootcolor_softRed__cfeurrwUCk:hover {
  background: #ffe6e2;
}
.Button__rootcolor_softSand__cfeurSMzJe:hover {
  background: #e9e9e6;
}
.Button__rootcolor_clear__cfeurk2KFk:hover {
  background: #e9e9e6;
}
.Button__rootcolor_link__cfeur6Ywds:hover {
  background: #ffffff00;
}
.Button__rootcolor_blue__cfeurNhNkV:hover {
  background: #369eff;
}
.Button__root__cfeur:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.Button__root___focusVisibleWithin__cfeurXbe6P {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.Button__root__cfeur:active {
  background: #2e2e2b;
}
.Button__rootcolor_green__cfeurIzMcw:active {
  background: #4cc38a;
}
.Button__rootcolor_yellow__cfeurOSBf:active {
  background: #f0c000;
}
.Button__rootcolor_red__cfeur8LXlh:active {
  background: #f16a50;
}
.Button__rootcolor_sand__cfeurTwE1Z:active {
  background: #a1a09a;
}
.Button__rootcolor_white__cfeurUdq2X:active {
  background: #f0c000;
}
.Button__rootcolor_softBlue__cfeur1YdV:active {
  background: #cee7fe;
}
.Button__rootcolor_softGreen__cfeurz3JbZ:active {
  background: #ccebd7;
}
.Button__rootcolor_softYellow__cfeurysL0I:active {
  background: #fef2a4;
}
.Button__rootcolor_softRed__cfeurrwUCk:active {
  background: #fdd8d3;
}
.Button__rootcolor_softSand__cfeurSMzJe:active {
  background: #e3e3e0;
}
.Button__rootcolor_clear__cfeurk2KFk:active {
  background: #e3e3e0;
}
.Button__rootcolor_link__cfeur6Ywds:active {
  background: #ffffff00;
}
.Button__rootcolor_blue__cfeurNhNkV:active {
  background: #52a9ff;
}
.Button__startIconContainer__czqAn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Button__startIconContainershowStartIcon__czqAnk1P8J {
  display: flex;
}
.Button__slotTargetStartIcon__aEha5 {
  color: #ededec;
}
.Button__slotTargetStartIconcolor_yellow__aEha5OSBf {
  color: #35290f;
}
.Button__slotTargetStartIconcolor_white__aEha5Udq2X {
  color: #35290f;
}
.Button__slotTargetStartIconcolor_softBlue__aEha51YdV {
  color: #006adc;
}
.Button__slotTargetStartIconcolor_softGreen__aEha5Z3JbZ {
  color: #18794e;
}
.Button__slotTargetStartIconcolor_softYellow__aEha5YsL0I {
  color: #946800;
}
.Button__slotTargetStartIconcolor_softRed__aEha5RwUCk {
  color: #ca3214;
}
.Button__slotTargetStartIconcolor_softSand__aEha5SMzJe {
  color: #706f6c;
}
.Button__slotTargetStartIconcolor_clear__aEha5K2KFk {
  color: #1b1b18;
}
.Button__slotTargetStartIconcolor_link__aEha56Ywds {
  color: #0091ff;
}
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetStartIconcolor_link__aEha56Ywds {
  color: #0081f1;
}
.Button__rootcolor_link__cfeur6Ywds:active
  .Button__slotTargetStartIconcolor_link__aEha56Ywds {
  color: #006adc;
}
.Button__svg___3Xc5I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.Button__contentContainer___84TDo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Button__root__cfeur
  .Button__contentContainer___focusVisibleWithin___84TDoXbe6P {
  outline: none;
}
.Button__slotTargetChildren__i28Cd {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.Button__slotTargetChildrencolor_green__i28CdIzMcw {
  color: #ffffff;
}
.Button__slotTargetChildrencolor_yellow__i28CdOSBf {
  color: #35290f;
}
.Button__slotTargetChildrencolor_red__i28Cd8LXlh {
  color: #ffffff;
}
.Button__slotTargetChildrencolor_sand__i28CdTwE1Z {
  color: #ffffff;
}
.Button__slotTargetChildrencolor_white__i28CdUdq2X {
  color: #1b1b18;
}
.Button__slotTargetChildrencolor_softBlue__i28Cd1YdV {
  color: #006adc;
}
.Button__slotTargetChildrencolor_softGreen__i28Cdz3JbZ {
  color: #18794e;
}
.Button__slotTargetChildrencolor_softYellow__i28CdysL0I {
  color: #946800;
}
.Button__slotTargetChildrencolor_softRed__i28CdrwUCk {
  color: #ca3214;
}
.Button__slotTargetChildrencolor_softSand__i28CdSMzJe {
  color: #1b1b18;
}
.Button__slotTargetChildrencolor_clear__i28Cdk2KFk {
  color: #1b1b18;
}
.Button__slotTargetChildrencolor_link__i28Cd6Ywds {
  color: #0091ff;
}
.Button__slotTargetChildrencolor_blue__i28CdNhNkV {
  color: #ffffff;
}
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds {
  color: #0081f1;
}
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_text,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot-string-wrapper,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_text,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.Button__root__cfeur:focus-within .Button__slotTargetChildren__i28Cd > *,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > *,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > .__wab_slot
  > *,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > picture
  > img,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > picture
  > img,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.Button__root__cfeur:focus-within
  .Button__slotTargetChildren__i28Cd
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > *,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > *,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > .__wab_slot
  > *,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > picture
  > img,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > picture
  > img,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.Button__root__cfeur
  .Button__slotTargetChildren___focusVisibleWithin__i28CdXbe6P
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.Button__rootcolor_link__cfeur6Ywds:active
  .Button__slotTargetChildrencolor_link__i28Cd6Ywds {
  color: #006adc;
}
.Button__endIconContainer__jk1ER {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Button__endIconContainershowEndIcon__jk1ERjaFwO {
  display: flex;
}
.Button__slotTargetEndIcon___3Qwst {
  color: #ededec;
}
.Button__slotTargetEndIconcolor_yellow___3QwstOSBf {
  color: #35290f;
}
.Button__slotTargetEndIconcolor_white___3QwstUdq2X {
  color: #35290f;
}
.Button__slotTargetEndIconcolor_softBlue___3Qwst1YdV {
  color: #006adc;
}
.Button__slotTargetEndIconcolor_softGreen___3Qwstz3JbZ {
  color: #18794e;
}
.Button__slotTargetEndIconcolor_softYellow___3QwstysL0I {
  color: #946800;
}
.Button__slotTargetEndIconcolor_softRed___3QwstrwUCk {
  color: #ca3214;
}
.Button__slotTargetEndIconcolor_softSand___3QwstSMzJe {
  color: #706f6c;
}
.Button__slotTargetEndIconcolor_clear___3Qwstk2KFk {
  color: #1b1b18;
}
.Button__slotTargetEndIconcolor_link___3Qwst6Ywds {
  color: #0091ff;
}
.Button__rootcolor_link__cfeur6Ywds:hover
  .Button__slotTargetEndIconcolor_link___3Qwst6Ywds {
  color: #0081f1;
}
.Button__rootcolor_link__cfeur6Ywds:active
  .Button__slotTargetEndIconcolor_link___3Qwst6Ywds {
  color: #006adc;
}
.Button__svg__o3Dq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
